.containerHeader{
    width: 100vw;
    height: 8vh;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerTitleHeader{
    margin-left: 4vw;
}